@{
    ViewBag.Title = "Bot M is here Help";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>please ask monashine.</p>
<div>
    <textarea readonly id="question_text" name="question_text" rows="10" cols="50"></textarea>
    <div>
        <input id="question" name="question" type="text" />
        <button id="btn_sub" type="button">send</button>
        <button id="btn_clr" type="button">clear</button>
    </div>
</div>
<script>
    var btn_sub = document.getElementById("btn_sub");
    btn_sub.onclick = function () {
        var question = document.getElementById("question").value;
        document.getElementById("question").value = "";
        var question_text = document.getElementById("question_text");
        var student = "You need to register to create student content. And only administrators and students will be able to create stundet content. And Administrators and tutors can view all students, when student can only view his own information"
        var tutor = "You need to register to create tutor content. And only administrators and tutors will be able to create tutor content.";
        var booking = "For booking, you need to click on the tag of \"booking\", Then select a date and enter your personal information, and select a time. You have to register to use this function. After success you will receive a confim email.";
        var location = "You need to go to location page to see available locations information";
        var email = "You can send bulk email with attachment in email page";
        var not_found = "Sorry, I don't understand. Please check your input."
        question_text.value += "me: \n   " + question + "\n";
        question_text.value += "bot M: \n   ";
        var is_word = false;
        if (question.indexOf("booking") != -1) {
            question_text.value += booking + "\n";
            is_word = true;
        }
        if (question.indexOf("student") != -1) {
            question_text.value += student + "\n";
            is_word = true;
        }
        if (question.indexOf("tutor") != -1) {
            question_text.value += tutor + "\n";
            is_word = true;
        }
        if (question.indexOf("location") != -1) {
            question_text.value += location + "\n";
            is_word = true;
        }
        if (question.indexOf("email") != -1) {
            question_text.value += email + "\n";
            is_word = true;
        }
        if (!is_word) {
            question_text.value += not_found + "\n";
        }
    }

    btn_clr.onclick = function () {
        question_text = document.getElementById("question_text").value = "";
    }
</script>
<style>
    textarea {
        width: 300px;
        height: 500px;
        resize: none;
    }
</style>