@{
    ViewBag.Title = "Home Page";
}


<div id="jumbotron">
    <h1>Welcome to Monashine College</h1>
    <p class="lead">You can book your own events and enroll your student or tutor information.</p><br/>
    <p class="lead">Register to unlock more!</p>
    <p><a href="https://localhost:44331/Home/About" class="btn btn-primary btn-lg">Get Help &raquo;</a></p>
    <img src="~/Content/img1.jpg" />
</div>
@if (User.Identity.IsAuthenticated)
{
    <div id="row">
        <div class="col-md-4">
            <h2>Student Information</h2>
            <p>
                Lodge your student information now!
            </p>
            <p><a class="btn btn-default" href="https://localhost:44331/Students/Index">Go to student &raquo;</a></p>
            <p><a class="btn btn-default" href="https://localhost:44331/Home/Send_Email">Send an email &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Tutor Information</h2>
            <p>Lodge your tutor information now!</p>
            <p><a class="btn btn-default" href="https://localhost:44331/Tutors/Index">Learn more &raquo;</a></p>
            <p><a class="btn btn-default" href="https://localhost:44331/Home/Send_Email">Send an email &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Book an event</h2>
            <p>Book your event now!</p>
            <p><a class="btn btn-default" href="https://localhost:44331/Locations/Index">See Location &raquo;</a></p>
            <p><a class="btn btn-default" href="https://localhost:44331/Bookings/Index">Book now &raquo;</a></p>
            <p><a class="btn btn-default" href="https://localhost:44331/Home/Send_Email">Rate &raquo;</a></p>
        </div>
    </div>
}
